@font-face {
    font-family: neu;
    font-weight: 200;
    src: url("./NeueHaasDisplayLight.ttf");
}

@font-face {
    font-family: neu;
    src: url("./NeueHaasDisplayMediu.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    color: #000000bb;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

.nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-part2 h4 a {
    text-decoration: none;
    color: #000000bb;
    z-index: 9;
    position: relative;
}

.nav-part2 h4:hover a {
    color: white;
}

#center {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 70vh;
    justify-content: space-between;
    padding-bottom: 2.5vw;
    border-bottom: 1px solid #0000003c;
}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;

}

#center h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video {
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 73vh;
}

#hero1 {
    height: 100%;
    width: 100%;
    background: #fe3201;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#hero2 {
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe1a01, orangered);
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation: anime2 5s infinite linear alternate;
}

#hero3 {
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe1a01, #fe5b0a);
    border-radius: 50%;
    filter: blur(15px);
    animation: anime1 5s infinite linear alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    padding: 8vw 0;
    position: relative;
    background-color: #EFEAE3;
}

#moving-text {
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation: move 22s linear infinite;
}

#moving-text h1 {
    font-size: 9vw;
    display: inline-block;
}

#circle {
    height: 50px;
    width: 50px;
    background: #FE330A;
    border-radius: 50%;
    margin: 1vw 2vw;
    display: inline-block;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

#page2-bottom {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5vw;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 3.5vw;
    width: 60%;
    line-height: 4vw;

}

#bottom-part2 {
    width: 25%;
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 2vw;
}

#page2 #gooey {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: #fe1a01;
    top: 50%;
    left: 25%;
    filter: blur(20px);
    animation: gooey 4s ease-out infinite alternate;
}

@keyframes gooey {
    from {
        transform: translate(10%, -10%) skew(10deg);
    }

    to {
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

.page2-featured {
    display: flex;
    align-items: center;
    padding: 0 3vw;
    padding-top: 3vw;
}

.page2-featured p {
    font-weight: 200;
}

#f-circle {
    width: 10px;
    height: 10px;
    background-color: #fe1a01;
    border-radius: 50%;
    margin-right: 5px;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    padding: 4vw 0;
    background-color: #EFEAE3;
    cursor: pointer;
}

.elem {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #0000003c;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.page3-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.elem-right-side-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9;
}

.elem-right-side-text h3 {
    font-weight: 300;
}

.elem-right-side-text p {
    color: #0c0b0b3c;
    font-weight: 200;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background: rgb(255, 172, 18);
    position: absolute;
    left: 0;
    top: -100%;
    transition: all 0.2s ease-in;
}

.elem:hover .overlay {
    top: 0;
}

#fixed-image {
    height: 32vw;
    width: 25vw;
    position: fixed;
    z-index: 999;
    border-radius: 10px;
    left: 40%;
    top: 27%;
    background: red;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4 {
    height: auto;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 12px;
    font-weight: 300;
    border-left: 1px solid #0000003c;
    width: 30%;
    padding: 0 2vw;
}

.swiper-slide img {
    margin-bottom: 20px;
}

#page5 {
    height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}

#footer {
    position: fixed;
    z-index: 9;
    height: 106vh;
    width: 100%;
    background: black;
    color: white;
    left: 0;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}

#footer h1 {
    font-size: 22vw;
}

#footer-div {
    height: 20vh;
    width: 100%;
    background: red;
}

#footer-bottom {
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}