* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #025259;
}

.container {
    width: 390px;
    background: #025259;
    box-shadow: 0 0 10px #0c0101;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-top: 55px;
}

.container h1 {
    display: inline-block;
    border-bottom: 2px solid wheat;
    color: #ff947a;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #ff947a;

}

.container input {
    width: 97%;
    height: 80px;
    padding: 0 10px;
    font-weight: 550;
    border: 1px solid #ff947a;
    color: #ff947a;
    font-size: 30px;
    margin-top: 11px;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: none;
    background: transparent;
}

button {
    width: 77px;
    padding: 7px;
    margin: 5px;
    border: 1px solid #ff947a;
    color: #ff947a;
    font-size: 20px;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #ff947a;
    color: black;
}

button:active {
    background: blue;
    scale: .9;
}

#equal {
    background: transparent;
    color: rgb(4, 196, 4);
    border: 1px solid rgb(4, 196, 4);
}

#equal:hover {
    background: rgb(4, 196, 4);
    color: white;
}

.container .del {
    background: transparent;
    border: 1px solid red;
    color: red;
}

.container .del:hover {
    background: rgb(185, 1, 1);
    color: white;
}

.container .del:active,
#equal:active {
    background: transparent;
    color: black;
    scale: 1.2;
}

@media (max-width:600px) {
    .container {
        width: 95%;
    }

    .container input {
        width: 98%;
    }

    button {
        width: 22%;
    }
}