* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: white;
        background-color: rgb(2, 0, 36);
      }
      nav {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 20px 72px;
      }
      .logo {
        display: flex;
        align-items: center;
      }
      .logo img {
        width: 65px;
        height: 65px;
        padding: 10px;
      }
      .features {
        width: 50%;
      }
      .features ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      .features ul li {
        /* padding-left: 10px; */
        list-style: none;
        display: flex;
        width: 100%;
      }
      .sign {
        display: flex;
        justify-content: center;
      }
      .sign button {
        border: 3px solid white;
        padding: 5px 30px;
        font-size: 22px;
        height: 45px;
      }
       .hero {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        margin-top: 50px;
      }
      .text {
        width: 43%;
        padding: 20px 72px;
      }
      .text h1 {
        font-size: 90px;
        font-weight: 500;
        width: 100%;
      }
      .mobText{
        display: none;
      }
      .text p {
            margin-top: 20px;
    font-size: 22.5px;
    padding-bottom: 30px;
      }
      .btn {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      .btn button {
        border: 3px solid white;
        padding: 10px 30px;
        font-size: 22px;
      }
      .image {
        width: 50%;
        padding: 20px 72px;
      }
      .image img {
        width: 100%;
      }

      /* responsive design */

    /* Mobile (default) */
.container {
  padding: 10px;
}

/* Tablet */
@media (max-width: 450px) {
  *{
    margin: 0;
    padding: 0;
  }
  nav{
    padding: 15px;
  }
  .features{
    display: none;
  }
  .hero{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
    /* border: 2px solid red; */
  }
  .image{
    width: 100%;
    padding: 15px;
  }
  .image img{
    width: 100%;
  }
  .text{
      width: 100%;
      padding: 15px;
  }
  .text h1{
    display: none;
  }
  .mobText{
    display: block;
    font-size: 40px;
  }
  .text p{
    text-align: justify;
  }
  .btn{
    display: flex;
    justify-content: space-between;
  }
  .btn button{
    width: 120px;
    font-size: 15px;
    padding: 10px;
    font-weight: 600;
  }
  .btn h2{
    font-size: 18px;
    margin-top: 12px;
  }
}
