     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         font-family: Arial, sans-serif;
     }

     body {
         background: #333C4D;
         color: white;
     }

     .container {
         max-width: 800px;
         margin: auto;
         padding: 20px;
         display: flex;
         flex-direction: column;
         justify-content: center;

     }

     h1 {
         text-align: center;
         margin-bottom: 20px;
     }

     .btn-box {
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .btn {
         display: block;
         margin: auto;
         background: #4f46e5;
         border: none;
         padding: 12px 20px;
         border-radius: 30px;
         color: white;
         cursor: pointer;
         transition: 0.3s;
     }

     .btn:hover {
         background: #6366f1;
     }

     .btn-box .btn:nth-child(2) {
         background: red;
     }

     .btn-box .btn:nth-child(2):hover {
         background: rgb(249, 53, 53);
     }

     .notes-container {
         display: grid;
         grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
         gap: 15px;
         margin-top: 20px;
     }

     .input-box {
         background: #2a2a40;
         padding: 15px;
         border-radius: 10px;
         min-height: 150px;
         position: relative;
     }

     .input-box p {
         outline: none;
     }

     .input-box i {
         position: absolute;
         bottom: 10px;
         right: 10px;
         cursor: pointer;
         color: #ff4d4d;
     }