        body {
            scroll-behavior: smooth;
            background: rgb(217, 226, 230);
        }

        .navbar .nav-link:hover {
            color: white;
            transition: 1s ease;
        }

        /* hero section */
        .hero {
            background-image: url("./image/hero.jpg");
            background-position: center;
            background-size: cover;
        }

        .hero-content {
            background: rgba(0, 0, 0, 0.7);
        }

        .hero h1 {
            font-size: 3rem;
            text-shadow: 2px 2px 5px black;
        }

        .hero p {
            text-shadow: 2px 2px 5px black;
        }


        /* menu */

        .menu-card img {
            height: 160px;
            object-fit: cover;
            object-position: center;
            border-radius: 8px 8px 0 0;

        }

        .menu-card:hover {
            transform: scale(1.03);
            transition: .3s ease;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        #testimonialCarousel {
            width: 60%;
        }

        @media (max-width:768px) {
            #testimonialCarousel {
                width: 100%;
            }
        }