body {
    background: #111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.clock {
    width: 260px;
    height: 260px;
    border: 8px solid white;
    border-radius: 50%;
    position: relative;
}

/* Numbers */
.number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(0deg);
}

.number span {
    display: inline-block;
    transform: translateY(10px);
    font-size: 18px;
}

/* Hands */
.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(0deg);
}

.hour {
    width: 6px;
    height: 60px;
    background: white;
}

.minute {
    width: 4px;
    height: 80px;
    background: cyan;
}

.second {
    width: 2px;
    height: 100px;
    background: red;
}

.center {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.digital {
    margin-top: 30px;
    font-size: 30px;
    background: black;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px cyan;
}