@media (max-width:960px) {
    .hero-img {
        display: block;
    }


    #cube,
    .mobile-img {
        display: none;
    }

    .hero-text {
        width: 70%;
    }

    .fItem {
        padding: 50px 0;
    }

    .fItem ul {
        width: 100%;
        flex-wrap: wrap;
    }

    .fItem ul li:nth-child(2) {
        width: 20% !important;
        padding: 0 !important;
    }

    .fItem ul li {
        width: 33%;
    }

    .flogosection {
        display: none;
    }


    .fItem ul li p {
        font-size: 12px;
    }

    .fcontact {
        width: 37% !important;
    }

    .copyright {
        width: 100%;
    }


}

@media (max-width:835px) {
    .zigzag__item {
        height: 40px;
        width: 40px;
    }
}


@media (max-width:650px) {
    .menu-bar {
        display: block;
        font-size: 25px;
        color: white;
        cursor: pointer;
    }

    nav {
        position: absolute;
        top: 70px;
        right: 0;
        /* right side se open hoga */
        width: 50%;
        /* 🔥 only 50% width */
        height: 100vh;
        background: #111;
        display: none;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    nav ul li {
        padding: 15px 0;
    }

    nav {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    .zigzag__container {
        gap: 10px;
        margin-top: 0;
    }

    .zigzag__item {
        height: 25px;
        width: 25px;
    }

    .zigzag__item span {
        background-color: transparent;
        outline: none;
    }

    .zigzag__item span b {
        font-size: 16px;
        font-weight: bolder;
    }

    .about-text {
        width: 50%;
    }

    .about-text p {
        text-align: center;
    }

    .about-img {
        width: 50%;
    }

    .about-img img {
        width: 80%;
        border-bottom: 40px solid #969292;
    }

    .about-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-btn a {
        margin: 10px 0;
    }

    .skill-container ul {
        gap: 10px;
    }

    #project .skill-container ul {
        margin-top: 0;
        gap: 20px;
        grid-template-columns: 1fr;
    }

    #project .skill-container {
        padding-top: 80px;
    }

    .contact-container .contactt-btn {
        padding: 40px 0;
    }

    .contact-form {
        flex-direction: column;
    }

    .contact-form form {
        width: 100%;

    }

    .social-icons {
        width: 80%;
        margin-top: 60px;
    }

    .copyright {
        padding: 10px 20px;
        text-align: center;
    }
}

@media (max-width:675px) {
    .fItem ul li {
        width: 100% !important;
        padding: 0 !important;
    }

    .fItem ul li:nth-child(2) {
        width: 100% !important;
    }


}

@media (max-width:575px) {

    #wrapper-canvas {
        height: auto;
    }

    .hero-content {
        width: 100%;
        flex-direction: column;
    }

    .hero-text {
        width: 100%;
    }

    .hero-text h2 {
        font-size: 33px;
    }

    .btn {
        margin-top: 20px;
    }

    .mobile-img {
        display: block;
        margin: 0 0 40px 0;
    }

    .hero-img {
        display: none;
    }

    #about {
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0;
    }

    .about-content {
        flex-direction: column;
        margin-top: 30px;
        padding: 40px 40px;
    }

    .about-text {
        width: 100%;
    }

    .about-img {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
        padding: 40px 0;
    }

    .about-img img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border-bottom: 0;
    }

    .fIcon a {
        font-size: 30px;
    }

    .fItem ul li p {
        font-size: 18px;
        text-align: start;
    }

    .flogo p {
        text-align: center;
    }


}