* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    width: 45%;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
}

.logo span {
    font-size: 11px;
    color: orangered;
    text-transform: uppercase;
}

.nav-btn {
    width: 60%;
}

.nav-btn ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

.hero-section {
    display: flex;
    width: 100%;
    background: #000;
    color: white;
}

.hero-text {
    width: 50%;
    padding: 50px;
}

.hero-text h2 {
    font-size: 40px;
    font-weight: 350;
    text-transform: uppercase;
}

.hero-text h5 {
    padding: 40px 0;
    font-weight: 350;
    font-size: 25px;
    color: #868380;
}

.hero-text p {
    font-size: 18px;
    color: #868380;
    line-height: 1.6;
    font-weight: 350;
}

.hero-text h3 {
    padding: 20px 0;
    font-size: 45px;
    font-weight: 500;
}

.hero-text-image img {
    border: 2px solid white;
    width: 15%;
}

.multi-use-btn {
    font-size: 18px;
    padding: 12px 20px;
    margin-top: 20px;
    outline: none;
}


.hero-img {
    width: 50%;
    display: flex;
    /* border: 2px solid blue; */
    justify-content: center;
    align-items: center;
}

.hero-img img {
    width: 80%;
    height: 80%;
    border: 1px solid white;
}

.hero-mob-img img {
    display: none;
}

.features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px 70px;
}

.features-sub-section {
    width: 33%;
}

.features-sub-section h3 {
    line-height: 1.5;
    padding: 36px 0;
    /* border: 2px solid blue; */
    font-weight: 600;
}

.features-sub-section p {
    line-height: 1.5;
    padding-bottom: 36px;
}

.image-section {
    width: 100%;
    position: relative;
}

.image-section img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.image-text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 140px;
}

.image-text-section img {
    width: 12%;
    height: 12%;
    padding-left: 10px;
}

.about-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(253, 210, 210, .7);
}

.about-image img {
    border: 1px solid white;
    width: 80%;
    height: 80%;
}

.about-text {
    width: 50%;
    padding: 100px 50px;
    background: rgba(253, 210, 210, .7);
}

.about-text h1 {
    font-weight: 400;
    font-size: 40px;
}

.about-text p {
    font-size: 18px;
    color: #868380;
    font-weight: 350;
    line-height: 1.5;
    background: rgb(255, 255, 255);
    padding: 0 10px;
}

.about-text h1,
p {
    padding-bottom: 40px;
}

.insta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 70vh; */
    /* border: 2px solid red; */
    padding: 40px 0;
}

.insta h1 {
    font-weight: 500;
    font-size: 24px;
}

.insta-image {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
    gap: 20px;
}

.insta-image img {
    width: 18%;
}

.insta a {
    color: black;
    background: #d3b7b7;
    padding: 10px;
    font-size: 16px;
}

.hero2 {
    flex-direction: row-reverse;
    background: white;
    color: black;
}

footer {
    background-color: black;
    color: white;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.f-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */

}

.f-div ul {
    list-style: none;
    font-size: 13px;
}

.f-div ul a {
    line-height: 2.3;
}

footer button {
    padding: 5px 30px;
    background: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    cursor: pointer;
    margin-top: 35px;
    margin-bottom: 40px;
}

.menu-bar {
    display: none;
}

@media (max-width: 950px) {
    .features {
        padding: 80px 30px;
    }


    .image-text-section {
        bottom: 10px;
        right: 10px;
    }
}

@media (max-width:760px) {
    .features {
        flex-direction: column;
    }

    .features-sub-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid blue; */
    }

    .features-sub-section img {
        width: 100%;
        object-fit: contain;
    }

    .insta-image {
        display: none;
    }

    .insta h1 {
        padding-bottom: 40px;
    }
}

@media (max-width:700px) {
    .logo {
        width: 34%;
    }

    .nav-btn {
        width: 66%;
    }

    .hero-text h2 {
        font-size: 30px;
    }

    .hero-text h3 {
        /* border: 2px solid red; */
        font-size: 28px;
        font-weight: bold;
    }

    .hero-text-image img {
        width: 25%;
    }

    .multi-use-btn {
        padding: 6px 14px;
    }

    .hero-img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .hero-img img {
        width: 80%;
        height: 80%;
        border: 1px solid white;
    }

}

@media (max-width: 585px) {
    .logo {
        width: 45%;
    }

    .nav-btn {
        display: none;
    }

    .menu-bar {
        display: block;
        padding: 0 0 0 50px;
    }

    .hero-section {
        flex-direction: column;
        align-items: center;
    }

    .hero-text,
    .hero-img {
        width: 100%;
        padding: 50px 50px 0 50px;
    }

    .hero-text h3 {
        padding: 5px 0 15px 0;
    }

    .hero-text p {
        font-size: 18px;
        color: #868380;
        line-height: 1.6;
        font-weight: 350;
        /* border: 2px solid blue; */
        padding-top: 22px;
    }

    .hero-text-image img {
        width: 18%;
    }

    .hero-img img {
        display: none;
    }

    .hero-mob-img {
        width: 100%;
        padding: 30px 0;
    }

    .hero-mob-img img {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid white;
    }

    .multi-use-btn {
        padding: 12px 28px;
    }

    .features {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .features-sub-section {
        width: 100%;
    }

    .image-section img {
        height: 70vh;
    }

    .image-text-section img {
        width: 12%;
        height: 12%;
    }

    .image-text-section {
        bottom: 10px;
        right: -100px;
    }

    .about-section {
        width: 100%;
        flex-direction: column;
    }

    .about-image,
    .about-text {
        width: 100%;
        padding-top: 50px;
    }

    .hero2-btn {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .hero2-btn button {
        font-size: 12px;
    }

    footer {
        padding: 10% 2%;
    }

    .footer-media {
        display: none;
    }

    footer button {
        width: 100%;
    }
}