 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
     color: #212529;
 }

 .container {
     width: 100%;
     display: flex;
     justify-content: space-between;
     background-color: rgb(236, 220, 236);
 }

 .logo-section {
     width: 20%;
     /* border: 2px solid red; */
     padding: 50px 40px;
     position: relative;
 }

 .logo {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .logo img {
     width: 30%;
     height: 30%;
     border-radius: 100%;
     object-fit: cover;
     margin-bottom: 8px;
 }

 .logo-icon {
     display: flex;
     flex-direction: column;
     line-height: 2.5;
     padding: 30px 0;
 }

 .logo-text-bold {
     font-weight: 550;
 }

 i {
     font-size: 18px;
 }

 .logo-icon-text {
     padding: 10px 0 10px 35px;
 }

 .logo-icon-text p {
     line-height: 1.7;
 }

 .log-out {
     position: absolute;
     bottom: 75px;
     left: 70px;
 }

 /* plan section */

 .plan-section {
     /* border: 2px solid blue; */
     width: 28%;
     padding: 50px 20px;
     background: #fff;
     margin-top: 10px;
 }

 .plan-section span {
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .plan-des {
     padding: 25px 0;
 }

 .team-sec {
     display: flex;
     justify-content: space-between;
 }

 .team-sec-text {
     line-height: 1.6;
 }

 .image-container {
     display: flex;
     width: 100%;
     flex-direction: column;
     gap: 15px;
     margin: 20px 0;
 }

 .top-img img {
     width: 100%;
     height: 20vh;
     object-fit: cover;
 }

 .bottom-img {
     width: 100%;
 }

 .bottom-img {
     display: flex;
     width: 100%;

     object-fit: cover;
     gap: 15px;
 }

 .bottom-img-box {
     width: 100%;
 }

 .bottom-img-box img {
     width: 100%;
     height: 20vh;
     object-fit: cover;
 }


 /* monthly plan section */


 .monthly-plan-section {
     /* border: 2px solid green; */
     width: 37%;
     display: flex;
     flex-direction: column;
     padding: 50px 20px;
 }

 .m-heading {
     width: 100%;
     display: flex;
     justify-content: space-between;
 }

 .month-container {
     width: 100%;
     margin: 15px 0;
 }

 .month-box {
     width: 100%;
     border: 1px solid black;
     padding: 0 10px;
     line-height: 2.5;
     margin: 6px 0;
 }

 .feedback {
     display: flex;
     align-items: center;
     gap: 20px;
     margin: 10px 0;
 }

 .feedback .circle {
     background: black;
     color: white;
     border-radius: 50%;
     width: 27px;
     height: 33px;
     text-align: center;
 }

 .learning {
     display: flex;
     justify-content: space-between;
     margin-bottom: 15px;
 }

 .m-img-container {
     display: flex;
     justify-content: space-between;
     margin: 20px 0;
 }

 .m-img-box {
     width: 50%;
     display: flex;
 }

 .m-img-box img {
     width: 60px;
     height: 100%;
 }

 .m-img-text {
     line-height: 2;
     padding: 0 8px;
 }


 /* profile section */

 .profile-section {
     /* border: 2px solid black; */
     width: 22%;
     min-height: 100vh;
     padding: 10px 0 0 20px;
 }

 .profile-main {
     width: 50%;
     height: 100%;
     background: #D1B198;
     position: relative;
 }

 .profile-img {
     width: 100%;
     display: flex;
     justify-content: center;
 }

 .profile-img img {
     width: 60%;
     border: 2px solid black;
     border-radius: 50%;
     margin-top: 40px;
 }

 .profile-des h4 {
     padding: 0 18px;
     line-height: 1.5;
 }

 .profile-main p {
     padding: 5px 22px;
 }

 .profile-icon {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: auto;
     padding-bottom: 30px;
     position: absolute;
     left: 35%;
     bottom: 40px;
 }

 .profile-icon i {
     font-size: 20px;
     margin: 5px 0;
 }

 @media (max-width:788px) {
     .container {
         flex-direction: column;
     }

     .logo-section,
     .plan-section,
     .monthly-plan-section,
     .profile-section {
         width: 100%;
     }

     .logo-section {
         height: auto;
     }

     .logo-icon {
         /* justify-content: center; */
         align-items: center;
         border-bottom: 1px solid black;
     }

     .log-out {
         display: none;
     }

     .top-img img,
     .bottom-img-box img {
         height: 30vh;
     }

     .profile-section {
         padding: 20px;
     }

     .profile-main {
         width: 100%;
         height: 130vh;
     }

     .profile-img img {
         width: 25%;
     }

     .profile-des {
         display: flex;
         justify-content: center;
         gap: 5px;
     }

     .profile-des h4 {
         padding: 0;
         margin: 0;
         font-size: 30px;
     }

     .profile-main p {
         text-align: center;
         font-size: 25px;
     }

     .profile-icon {
         left: 45%;
         bottom: 10px;
     }

     .profile-icon i {
         font-size: 30px;
     }
 }


 @media (max-width:500px) {
     .profile-main {
         width: 100%;
         height: 70vh;
     }

     .profile-icon i {
         font-size: 40px;
     }
 }

 @media (max-width: 1055px) and (min-width: 790px) {
     h2 {
         font-size: 20px;
     }

     h4,
     p {
         font-size: 14px;
     }

     .logo-section,
     .plan-section,
     .monthly-plan-section {
         padding: 50px 20px;
     }

     .log-out {
         left: 30px;
     }

     .plan-des {
         font-size: 18px;
     }

     .team-sec-text p {
         font-size: 12px;
     }

     .profile-section {
         padding: 0;
     }

     .profile-main {
         padding: 0;
         width: 60%;
     }

     .profile-img {
         margin-bottom: 15px;
     }
 }