body {
    background: white;
    color: black;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-top: 50px;
    font-size: 55px;
}

.counterValStore {
    color: rgb(0, 64, 255);
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.countVal {
    padding: 6px 20px;
    border-radius: 8px;
}

.counter_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.counter_btn button {
    margin: 10px;
    padding: 6px 20px;
    font-weight: bold;
    font-size: 20px;
    background: #929191;
    cursor: pointer;
    border-radius: 8px;
}

span button:hover {
    background: #ccc;
}

span button:active {
    background: blue;
    color: white;
}