   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   body {
       background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
   }

   .box {
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       gap: 10px;
       margin-top: 50px;
   }

   .leftside {
       width: 40%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap: 10px;
       background: radial-gradient(circle, rgba(148, 187, 233, 1) 0%, rgba(238, 174, 202, 1) 100%);
       box-shadow: 2px 4px 2px black;
       padding: 20px 0;
   }

   input {
       width: 80%;
       padding: 7px;
       outline: none;
       background: transparent;
   }

   button {
       width: 50%;
       padding: 7px;
       outline: none;
       background: transparent;
       font-weight: bold;
       cursor: pointer;
   }

   button:active {
       background: blue;
       color: white;
   }

   #rSide {
       display: none;
       width: 40%;
   }

   .rightSide {
       background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
       box-shadow: 2px 4px 2px black;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: start;
       width: 100%;
       gap: 10px;
       padding: 20px 0;
   }

   #textSize {
       width: 50%;
   }

   @media (max-width:760px) {
       .box {
           flex-direction: column;
       }

       .leftside,
       #rSide {
           width: 90%;
           margin-bottom: 50px;
       }

   }