      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .main {
        background: rgb(248, 238, 226);
        height: 100vh;
      }
      .header {
        display: flex;
        align-items: center;
        padding: 20px 55px;
      }
      .header i {
        font-size: 2.7rem;
        color: rgb(107, 216, 107);
        font-weight: 500;
        padding: 0px 10px;
      }
      .header span {
        font-size: 1.7rem;
        font-weight: 500;
        color: rgb(107, 216, 107);
      }
      .box {
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .box-first {
        width: 65%;
        padding: 20px;
        border: 1px solid black;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        padding: 25px 50px;
        margin: 50px 0px;
      }
      #laptopIcon {
        /* border: 2px solid red; */
        width: 10%;
      }
      .box-first-text {
        width: 60%;
        /* border: 2px solid blue; */
      }
      .box-first-text h3 {
        /* border: 2px solid red; */
        font-size: 1.3rem;
      }

      .box-first-text p {
        /* border: 2px solid red; */
        font-size: 1.2rem;
      }
      .box-first button {
        /* border: 3px solid yellow; */
        background-color: rgb(107, 216, 107);
        padding: 15px 30px;
        border-radius: 25px;
      }
      .box-second {
        width: 65%;
        padding: 20px;
        border: 1px solid black;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        background: white;
        padding: 25px 50px;
      }
      .box-second-text {
        /* border: 2px solid blue; */
        width: 50%;
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .box-second-text h1 {
        padding: 10px;
        font-size: 3.3rem;
        font-weight: 500;
      }
      .box-second-text p {
        padding: 10px;
        font-size: 1.5rem;
      }
      .box-second-text span {
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        gap: 15px;
      }

      .checkBox {
        transform: scale(2);
        cursor: pointer;
      }
      .checkBox p {
        font-size: 1.2rem;
      }
      .qrImageSection {
        width: 40%;
        /* border: 2px solid; */
      }
      .qrImageSection img {
        float: right;
        width: 100%;
        padding: 80px;
      }
      .qrImageSection p {
        text-decoration-line: underline;
        text-decoration-color: rgb(107, 216, 107);
        font-size: 1.5rem;
        margin-left: 30px;
      }