* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  color: white;
  background-color: rgb(0, 0, 0);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
}

nav img {
  width: 5%;
}

nav ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.4s ease;
  cursor: pointer;
}

a {
  transition: all .5s ease;
}

nav ul li a:hover {
  color: blue;

}

.scholarBtn {
  width: 9%;
}

.scholarBtn button {
  width: 100%;
  border: none;
  outline: none;
  background-color: #8a2be2;
  color: white;
  padding: 20px 15px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;

}

.scholarBtn button:hover {
  color: black;
  background: white;
}

.hero {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle,
      rgb(119, 39, 193) 0%, rgba(3, 1, 4, 1) 40%, rgba(0, 0, 0, 1) 100%);
}

.contactHeading {
  text-align: center;
  text-decoration: underline;
  font-size: 2.2rem;
  padding-top: 120px;

}

.heroInnerSection {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.heroTextSection {
  /* border: 5px solid red; */
  width: 30%;
  padding: 130px 40px 0 70px;
}

.heroTextSection p {
  margin-top: 30px;
  font-size: 20px;
}

.socialIcon {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.socialIcon i {
  font-size: 32px;
  padding-top: 90px;
}

.socialIcon i:hover {
  color: aqua;
}

.heroContactSection {
  width: 45%;
  /* border: 5px solid blue; */
  padding: 0 40px;
  margin-top: 50px;
}

.heroContactSection form {
  display: flex;
  flex-direction: column;
}

.heroContactSection label {
  font-size: 22px;
  padding-top: 10px;
}

.heroContactSection input,
select {
  border-radius: 14px;
  padding: 14px;
  margin: 10px 10px 10px 0px;
  background: rgb(231, 234, 252);
  border: none;
  outline: none;
  width: 80%;
}

.submitBtn {
  display: flex;
  justify-content: center;
  width: 80%;
}

.submitBtn button {
  border: none;
  outline: none;
  width: 25%;
  background-color: blueviolet;
  color: white;
  padding: 14px 20px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  margin: 40px;
  cursor: pointer;
}

.submitBtn button:hover {
  background: blue;
}

.map {
  width: 100%;
  height: 70vh;
  padding: 40px 60px;
  border-top: 1px solid #cfcfcf;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.footerSection {
  background: #000;
  color: #fff;
  font-weight: 600;
  width: 100%;
}

.footer-container {
  padding: 60px 90px;
  display: flex;
  width: 100%;
  gap: 40px;
}

.footer-box {
  width: 23%;
}

.footerContact {
  width: 30%;
}

.flogo {
  width: 85%;
}

.footer-box p,
.footer-box li {
  font-size: 14px;
  color: #ddd;
  line-height: 1.5;
  padding-top: 20px;
}

.social i {
  font-size: 22px;
  cursor: pointer;
  color: white;
  margin-top: 20px;
}

.footer-box ul {
  list-style: none;
}

.footer-box li {
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s linear;
}

.login-btn {
  margin-top: 20px;
  padding: 12px 50px;
  background: blueviolet;
  border: none;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
}

.login-btn:hover {
  background: white;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

a:hover i,
a:hover {
  color: purple;
}


.footer-box i {
  color: white;
  margin-right: 10px;
}


.footer-bottom {
  border-top: 1px solid white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  height: 150px;
  font-weight: 600;
  font-size: 16px;
}

.menu-bar {
  display: none;
}

@media (max-width:1450px) {
  nav ul {
    width: 50%;
  }

  .scholarBtn {
    width: 11%;
  }

  .scholarBtn button {
    padding: 16px 12px;
  }

  .heroTextSection {
    width: 45%;
  }

  .heroContactSection {
    width: 55%;
  }

  .socialIcon {
    gap: 14px;
    flex-wrap: wrap;
  }
}

@media (max-width:1150px) {
  nav ul {
    width: 60%;
  }

  .scholarBtn {
    width: 12%;

  }

  .scholarBtn button {
    padding: 13px;
  }

  .socialIcon i {
    font-size: 28px;
    padding: 40px 0;
  }

  .heroInnerSection {
    font-weight: 300;
  }

  .heroContactSection input,
  select {
    padding: 12px;
    width: 90%;
  }

  .submitBtn button {
    width: 42%;
  }

  .footerSection {
    font-weight: 300;
  }

  .footer-container {
    padding: 60px 40px;
    gap: 30px;
  }

  #legal {
    font-weight: bold;
  }
}

@media (max-width:970px) {
  .scholarBtn {
    width: 14%;
  }

  nav img {
    width: 8%;
  }

  .heroTextSection {
    width: 50%;
  }

  .heroContactSection {
    width: 50%;
  }

  .footerSection {
    font-size: 13px;
  }

  .footer-box p,
  .footer-box ul li {
    font-size: 11px;
  }

  .social i {
    font-size: 16px;
  }

  .login-btn {
    padding: 6px 18px;
  }
}

@media (max-width:850px) {
  .scholarBtn {
    width: 16%;
  }

  nav ul {
    width: 70%;
  }
}

@media (max-width:748px) {
  nav img {
    width: 10%;
  }

  nav ul,
  .scholarBtn {
    display: none;
  }

  .menu-bar {
    display: block;
    font-size: 22px;
  }

  .contactHeading {
    font-size: 1.5rem;
  }

  .submitBtn button {
    width: 55%;
    padding: 8px 20px;
  }

  .heroContactSection input,
  select {
    padding: 8px;
    width: 100%;
  }
}

@media (max-width:650px) {
  .heroInnerSection {
    flex-direction: column;
    align-items: center;
  }

  .contactHeading {
    padding: 40px 20px 0 0;
  }

  .heroContactSection,
  .heroTextSection {
    width: 90%;
    padding: 50px 50px 0 50px;
    margin: -10px;
  }

  .socialIcon i {
    font-size: 32px;
    padding: 30px 0 0 0;
    margin: 0;
  }

  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
  }

  .footer-box,
  .footerContact {
    width: 100%;
  }

  .flogo {
    width: 20%;
  }

}