.carousel-item {
    height: 88vh;
}

.carousel-caption h1,
.carousel-caption p {
    text-shadow: 2px 2px 5px black;
}

.services-card {
    height: 200px;
}

@media (max-width:770px) {
    .carousel-item {
        height: 55vh;
    }

    .services-card {
        height: 200px;
    }
}

@media (max-width:576px) {
    .services-card-img {
        display: block !important;
    }
}