* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}
.main {
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 45px;
}
nav img {
  width: 4%;
}
nav ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.4s ease;
  cursor: pointer;
}
nav ul li:hover {
  color: blue;
}
.scholarBtn {
  width: 5%;
  background-color: blueviolet;
  color: white;
  padding: 10px 0px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}
.scholarBtn:hover {
  color: blue;
  background: white;
}
.contactHeading {
  text-align: center;
  text-decoration: underline;
  font-size: 2.2rem;
  padding-top: 120px;
}
.hero {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.heroTextSection {
  /* border: 5px solid red; */
  width: 30%;
  padding: 150px 40px;
}
.heroTextSection p {
  margin-top: 20px;
  font-size: 24px;
}

.socialIcon {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.socialIcon i {
  font-size: 32px;
  margin-left: -130px;
  padding-top: 120px;
}
.socialIcon i:hover {
  color: aqua;
}
.heroContactSection {
  width: 30%;
  /* border: 5px solid blue; */
  padding: 0 40px;
  margin-top: 50px;
}
.heroContactSection form {
  display: flex;
  flex-direction: column;
}
.heroContactSection label {
  font-size: 18px;
  padding-top: 10px;
}
.heroContactSection input,
select {
  border-radius: 14px;
  padding: 6px;
  margin: 10px 10px 10px 0px;
  background: rgb(231, 234, 252);
  outline: none;
  width: 80%;
}
.submitBtn {
  display: flex;
  justify-content: center;
  width: 80%;
}
.submitBtn button {
  width: 25%;
  background-color: blueviolet;
  color: white;
  padding: 14px 20px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}
.submitBtn button:hover {
  background: blue;
}
.map {
  width: 100%;
  height: 400px;
  padding: 40px 80px;
  border-top: 1px dotted rgb(255, 253, 253);
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background: #000;
  color: #fff;
  font-weight: 600;
}

.footer-container {
  padding: 60px 90px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.flogo{
    width: 85%;
}
.footer-box p,
.footer-box li {
  font-size: 14px;
  color: #ddd;
  line-height: 1;
  padding-top: 20px;
}
.social i {
  margin-right: 12px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  margin-top: 20px;
}

.footer-box ul {
  list-style: none;
}

.footer-box li {
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-box li:hover {
  color: purple;
}


.login-btn {
  margin-top: 20px;
  padding: 12px 70px;
  background: blueviolet;
  border: none;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
}
.login-btn:hover{
    background: white;
    color: black;
}

.footer-box i {
  color: white;
  margin-right: 10px;
}


.footer-bottom {
  border-top: 1px solid white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  height: 250px;
  font-weight: 600;
  font-size: 16px;
}
